    
.button {
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

button:active, 
button:focus {
    outline: none;
    border: 0;
}

.button:hover {
    background-color: #F01F35;
}

